<div class="app">
  <div class="ex1">
    <div class="parent"
         [style.background]="backgroundColor">
      <h2>Parent</h2>
      <div class="count">
        Value from child: {{ childCount }}
      </div>
    </div>

    <div class="child">
      <h2>Child</h2>
      <app-test message="Something Hardcoded"
                [message2]="message"
                (countChanged)="setChildCount($event)"
                (buttonClicked)="setBackgroundColor()"></app-test>
    </div>
  </div>

  <div class="ex2">
    <app-binding></app-binding>
  </div>
</div>
