<div class="app">
  <div class="ex1">
    <h1>Direct Communication</h1>

    <div class="parent"
         [style.background]="backgroundColor">
      <h2>Parent</h2>
      <div class="count">
        Value from child: {{ childCount }}
      </div>
    </div>

    <div class="child">
      <h2>Child</h2>
      <app-direct message="Something Hardcoded"
                  [variableMessage]="message"
                  (countChanged)="setChildCount($event)"
                  (buttonClicked)="setBackgroundColor()"></app-direct>
    </div>
  </div>

  <div class="ex2">
    <h1>Indirect Communication</h1>

    <div class="parent">
      <h2>Parent</h2>
      <div class="message">
        Message in Parent: {{ serviceMessage }}
      </div>
    </div>

    <div class="child">
      <h2>Child</h2>
      <app-indirect (messageChanged)="updateMessage()"></app-indirect>
    </div>
  </div>

  <div class="ex3">
    <h1>Binding</h1>
    <app-binding></app-binding>
  </div>
</div>
